# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Xcode/Apple related
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/ephemeral/
ios/DerivedData*/
ios — копия/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Android Studio/IntelliJ
*.iml
.idea/
*.ipr
*.iws

# VSCode
.vscode/

# macOS
.DS_Store

# System
*.log
*.swp
*.tmp

# Large files
*.mdb

# Node/npm (если вдруг есть)
node_modules/

# Python (если вдруг есть)
__pycache__/
*.pyc
